301Project/src/recources/questions.dtd

<!ELEMENT questions (true-false-questions, return-value-questions)>
<!ELEMENT true-false-questions (question*)>
<!ELEMENT return-value-questions (question*)>
<!ELEMENT question (ask, answer, hint*)>
<!ATTLIST question difficulty (1|2|3|4|5) #REQUIRED>
<!ELEMENT ask (#PCDATA)>
<!ELEMENT answer (#PCDATA)>
<!ELEMENT hint (#PCDATA)>